{% extends 'base.html.twig' %}

{% block title %}Permission index{% endblock %}

{% block body %}
    <h1>Permission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contexts</th>
                <th>Class</th>
                <th>Field</th>
                <th>Operation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                <td>{{ permission.id }}</td>
                <td>{{ permission.contexts ? permission.contexts|json_encode : '' }}</td>
                <td>{{ permission.class }}</td>
                <td>{{ permission.field }}</td>
                <td>{{ permission.operation }}</td>
                <td>
                    <a href="{{ path('permission_show', {'id': permission.id}) }}">show</a>
                    <a href="{{ path('permission_edit', {'id': permission.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('permission_new') }}">Create new</a>
{% endblock %}
